.content-wrapper
    margin-top: 50px
    & .sidebar
        display: none
    & .content
        margin-top: 7px
        & .simple-block
            &__video
                & iframe
                    min-height: 480px
            &__title
                margin-top: 30px
            &__text
                margin-top: 30px
            &__btn-wrapper
                display: flex
                align-items: center
                margin-top: 15px
            &__btn
                max-width: 50%
                &:not(:last-child)
                    margin-right: 30px
            &__description
                & .list
                    margin-top: 30px
                    & li
                        display: flex
                        flex-direction: column
                        &:not(:last-child)
                            margin-bottom: 15px
                        & strong
                            margin-bottom: 5px
        &__steps
            display: none
    &.width-sidebar
        & section > .container
            padding: 0
        & > .container
            display: grid
            grid-template-columns: 1fr 3fr
            gap: 15px
        & .sidebar
            display: block
            grid-column: 1/2
            grid-row: 1
            &__title
                display: none
            &__btn
                width: calc(100% - 30px)
                margin-left: 7px
                max-width: 100%
                margin-top: 30px
            &__inner
                display: grid
                grid-template-columns: 100%
                padding: 7px
            & .swiper-slide
                & .video-card
                    width: calc(100% - 30px)
                    // margin-left: 7px
                &:not(:first-child)
                    margin: 30px auto 0
        & .content
            grid-column: 2/-1
        & .callback
            border-radius: 4px
@media screen and ( max-width: 1000px )
    .content-wrapper
        &.width-sidebar
            & > .container
                grid-template-columns: 100%
            & .sidebar
                margin-top: 30px
                grid-column: 1/-1
                grid-row: 2
                &__title
                    display: block
                    margin-bottom: 30px
                &__inner
                    display: grid
                    grid-template-columns: 1fr 1fr
                    gap: 30px
                    width: calc( 100% - 14px )
                &__btn
                    margin: 30px auto 0
                    max-width: 200px
                & .swiper-slide
                    & .video-card
                        width: 100%
                        margin: auto
                    &:not(:first-child)
                        margin-top: 0
            & .content
                grid-column: 1/-1
                & .simple-block
                    & > .container
                        display: flex
                        flex-direction: column
                    &__title
                        order: -1
                        margin-top: 0
                    &__btn-wrapper
                        // flex-direction: column
                        justify-content: center
                    &__btn
                        &:not(:last-child)
                            margin-right: 15px
                            margin-bottom: 0
                    &__video
                        margin-top: 30px
@media screen and ( max-width: 768px )
    .content-wrapper
        &.width-sidebar
            & .content
                & .simple-block
                    &__video
                        & iframe
                            min-height: 360px
            & .sidebar
                &__inner
                    gap: 30px 10px
@media screen and ( max-width: 580px )
    .content-wrapper
        &.width-sidebar
            & .sidebar
                &__slider
                    padding-bottom: 25px
                    & .swiper-pagination
                        bottom: 0
                        &-bullet
                            background: $light
                            border: 1px solid $main
                            opacity: 1
                            &-active
                                background: $main
                &__inner
                    display: flex
                    gap: 0
                & .swiper-slide
                    width: 100%
                    display: flex
                    align-items: center
                    justify-content: center
                    padding: 10px 0
                    & .video-card
                        width: 95%
            & .content
                & .simple-block
                    &__btn-wrapper
                        flex-direction: column
                    &__btn
                        max-width: 100%
                        &:not(:last-child)
                            margin-right: 0
                            margin-bottom: 15px
                    &__video
                        & iframe
                            min-height: 240px
                            height: 100% !important
                &__steps
                    display: block
