@media screen and ( max-width: 580px )
    .front-page
        display: flex
        flex-direction: column
        & .content-wrapper
            order: -2
            margin-top: 0
            padding-top: 30px
        &__steps
            display: none
