.socials
  display: flex
  align-items: center
  justify-content: center
  &__item
    display: flex
    align-items: center
    justify-content: center
    width: 25px
    height: 25px
    & a
      display: flex
      align-items: center
      justify-content: center
    & img
      width: 100%
      height: 100%
      position: relative
      transform: translateY(0)
      transition: .2s
    &:not(:last-child)
      margin-right: 5px
    &:hover
      & img
        transform: translateY(-5px)
        transition: .2s
